  <header>
    <h1>Rodrigo Torres</h1>
    <nav>
      <ul class="navigation">
        <a href="#rodrigo-top"><li class="navlink linkActive" >About Me</li></a>
        <a href="#development"><li class="navlink" >Web Development</li></a>
        <a href="#graphics"><li class="navlink" >Graphics</li></a>
        <a href="#rodrigo-contact"><li class="navlink" >Contact Me</li></a>
      </ul>
    </nav>
    <div class="hamIcon"></div>
  </header>

  <div class="content">

    <div id="container1">
      <div class="cityImage"></div>
      <canvas id='canvas' width="1600" height="740"></canvas>
        <img class="cloudsFront" src="cloudsFront.png" alt="clouds above the city of chicago" />
        <img class="cloudsBack" src="cloudsBack.png" alt="clouds above the city of chicago" />
      <section class="aboutME">
        <h1>Developer and Graphic Artist</h1>
        <h2>living in the city of Chicago.</h2>
          <p>
            I have always had a strong passion for the web and with a background in graphic design, I knew I wanted to create web functionality while still being able to incorporate design.
          </p>
      </section>
    </div>

    <div id="container3">
      <div class="data">
            <div id="div1"></div>
            <div id="div2"></div>
          <section class="datainfo">
            <h1>Data About Me</h1>
            <h3>
              As a Developer/Designer my portfolio consists of both design and development.
            </h3>
            <h4> <%= link_to "Print my resume", "resume.pdf", target: "_blank" %> </h4>
            <hr>
          </section>
      </div>
    </div>

   <div class="content2">
      <div id="development">
        <div class="devwork devslide">
            <% @creates.each do |c| %>
          <div class="workHolder developwork">
            <img class="image" src=" <%= c.image %> "/>
            <section class="devdiscription">
              <h1><%= c.title %></h1>
              <hr>
              <p><%= c.description %></p>
              <a href="<%= c.linkgithub %>" target="_blank">link to github</a>
            </section>
          </div>
            <% end %>
        </div>
        <div id="prevslide"><img class="arrowimage" src="/left-arrow.png"/></div>
        <div id="nextslide"><img class="arrowimage" src="/right-arrow.png"/></div>
      </div>

      <div id="graphics">
        <div class="devwork graphslide">
            <% @designs.each do |d| %>
            <div class="workHolder graphicswork">
            <img class="image" src=" <%= d.image %> "/>
            <section class="devdiscription">
              <h1><%= d.title %></h1>
              <hr>
              <p><%= d.description %></p>
            </section>
            </div>
            <% end %>
        </div>
        <div id="prevgraph"><img class="arrowimage" src="/left-arrow.png"/></div>
        <div id="nextgraph"><img class="arrowimage" src="/right-arrow.png"/></div>
      </div>
   </div>


    <div id="rodrigo-contact">
      <section class="contact">
        <form class="contactForm" action="/api/message" method="post">
          <%= token_tag %>
          <h3>Send me a message</h3>
          <hr>
          <label class="nameAlert">Name</label>
          <input class="username" type="text" name="message[name]" placeholder="name..."  ><br>
          <label class="emailAlert">Email</label>
          <input class="emailcheck" type="email" name="message[email]" placeholder="email..." >
          <label>Phone</label>
          <input type="phone" name="message[phone]" placeholder="601-421-9462" maxlength="10"><br>
          <textarea name="message[message]" maxlength="1000" placeholder="message..." ></textarea><br>
          <input type="submit" class="messagesub">
        </form>
      </section>

      <section class="myImage">
          <div class="me"><div class="myshadow">  </div></div>
      </section>
    </div>

    <footer>
      <div class="footerInfo">
        <ul class="footerul">
          <a href="https://github.com/rtone1" target="_blank"><li class="git"></li></a>
          <a href="https://www.linkedin.com/in/rodrigotorrescoronado" target="_blank"><li class="linkedin"></li></a>
          <%= form_tag('/session_log_in', method: :post) do %>
            <%= label_tag :username %>
            <%= text_field_tag :name %>
            <%= label_tag 'password' %>
            <%= password_field_tag :password %>
            <br>
            <%= submit_tag "Sign-In" %>
          <% end %>
        </ul>
      </div>
    </footer>

  </div>
