
  <header class="email_and_banners">
    <h1>Rodrigo Torres</h1>
    <nav>
      <ul class="navigation">
        <a href="/"><li class="navlink" >Portfolio</li></a>
      </ul>
    </nav>
  </header>


  <section class="containerEB">
    <h1>Check out this emails and banners</h1>
      <article class="emails">
          <h2>EMAILS</h2>
              <div class="ctn_content">
                  <div class="headline">
                    <h3>TEXT ABOUT THIS BOX</h3>
                  </div>
                  <img src="" alt="" />
              </div>
              <div class="largeDisplay"></div>
              <div class="ctn_content">
                  <div class="headline">
                    <h3>TEXT ABOUT THIS BOX</h3>
                  </div>
                  <img src="" alt="" />
              </div>
              <div class="ctn_content">
                  <div class="headline">
                    <h3>TEXT ABOUT THIS BOX</h3>
                  </div>
                  <img src="" alt="" />
              </div>
      </article>

      <article class="banners">
        <h2>BANNERS</h2>
            <div class="ctn_content">
                <div class="headline">
                  <h3>TEXT ABOUT THIS BOX</h3>
                </div>
                <img src="" alt="" />
            </div>
            <div class="ctn_content">
                <div class="headline">
                  <h3>TEXT ABOUT THIS BOX</h3>
                </div>
                <img src="" alt="" />
            </div>
      </article>
        <%= link_to "lots of work", "lot_of_work.gif", target: "_blank" %>
        <%= link_to "email_icon", "email_icon.gif", target: "_blank" %>
        <%= link_to "banner_icon", "banner_icon.gif", target: "_blank" %>
        <%= link_to "github_icon", "github_icon.gif", target: "_blank" %>
        <%= link_to "instagram_icon", "instagram_icon.gif", target: "_blank" %>
        <%= link_to "linkedin_icon", "linkedin_icon.gif", target: "_blank" %>
        <%= link_to "linkedin_icon", "codepen_icon.gif", target: "_blank" %>
  </section>
